<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <link
            rel="shortcut icon"
            href="/images/info-bg.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="/stilus.css"
        />
        <title>Teszt</title>
    </head>
    <body>
        <div id="kerdes-kontener">
            <span
                class="material-symbols-outlined"
                id="close"
            >
                close
            </span>
        </div>
        <div class="main-kontener">
            <h1>Tesztek</h1>
            <ul>
                <li class="alap">
                    <button>Webszerkesztés</button>
                </li>
                <li>
                    <button>Python</button>
                </li>
                <li>
                    <button>IT Alapok I.</button>
                </li>
                <li>
                    <button>IT Alapok II. (hálózat)</button>
                </li>
                <hr />
                <li>
                    <button>Asztali alkalmazások</button>
                </li>
                <li>
                    <button>Adatbázis-kezelés</button>
                </li>
                <li>
                    <button>Szoftvertesztelés</button>
                </li>
                <li>
                    <button>Webprogramozás</button>
                </li>
                <li>
                    <button>Frontend programozás</button>
                </li>
                <li>
                    <button>Backend programozás</button>
                </li>
            </ul>
        </div>
        <script>
            let tesztek = '<%- JSON.stringify(kerdesek) %>';
        </script>
        <script src="/js/checkbox.js"></script>
        <script src="/js/radiobutton.js"></script>
        <script src="/js/teszt.js"></script>
    </body>
</html>
