#kerdes-kontener {
    background-color: var(--kerdesHatter);
    display: none;
    min-height: 100vh;
    padding-bottom: 1em;
    position: absolute;
    top: 0px;
    width: 100%;
}

#kerdes-kontener #close {
    color: whitesmoke;
    cursor: pointer;
    font-size: 2em;
    left: 1em;
    position: absolute;
    top: 1em;
}

@media screen and (max-width: 1200px) {
    #kerdes-kontener #close {
        left: 0em;
        top: 0em;
    }
}
